# ignore notebook checkpoints
.ipynb_checkpoints/

# ignore the pycache
__pycache__/

# ignore temporary files
/data/temporary/

# ignore output files
/data/output/

# ignore fsaverage freesurfer files
/data/templates/freesurfer/fsaverage/
